html {
  height: auto;
}
body {
  font-family: "Times New Roman", Times, serif;
  max-width: 100%;
  background-image: url(../imgs/Background-Narrow.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  background-color: rgb(5, 5, 5);
  height: 100%;
  margin-bottom: 10%;
}
/* start navbar */
.main {
  background-color: rgb(5, 5, 5);
  margin-bottom: 20px;
  margin-left: 150px;
}
.navbar {
  font-size: 25px;
}
.navbar ul {
  list-style: none;
}

.navbar a {
  color: #fff;
  background-color: rgb(5, 5, 5);
  text-decoration: none;
}

.navbar ul li,
.navbar .logo {
  margin-left: 35px;
  font-weight: bold;
  cursor: pointer;
}
/* end navbar */
img,
video {
  max-width: 70%;
  height: auto;
}
.active {
  background-color: #999;
}
.navdiv {
  position: fixed;
  width: 100%;
  top: 50px;
  left: 15px;
  z-index: 20;
}
.menunav {
  width: 50%;
  height: 100%;
  font-size: 28px;
  z-index: 20;
}
#camBtn {
  float: center;
  margin-top: 1%;
}

#screenshot {
  float: center;
  margin-top: 1%;
  display: none;
}
video {
  display: none;
}
canvas {
  display: none;
}
#imageUpload {
  display: none;
}

#profileImage {
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.button {
  border: black 1px solid;
  background-color: rgb(212, 97, 97);
  border-radius: 0%;
}
.editBox {
  background-color: rgba(54, 5, 5, 0.425);
}
input[type="text"],
input[type="password"],
input[type="email"] {
  background: rgba(0, 0, 0, 0.671);
  border: none;
  outline: none;
}
.background {
  background-color: rgba(0, 0, 0, 0.671);
}
label,
h3 {
  color: burlywood;
}
.form-control {
  background-color: #060606;
  color: #c37d7d;
}
form input[type="text"] {
  font-size: 15px;
  padding: 20px;
}
INPUT[type="text"]:focus,
INPUT[type="url"]:focus,
.form-control:focus {
  background-color: #060606;
  color: #c37d7d;
}
